@model SV.Models.LienHeTuyenSinh

@{
    ViewBag.Title = "Thêm thông tin đăng ký";
    Layout = "~/Areas/Admin/Views/Shared/layout-admin.cshtml";
}

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Liên hệ tuyển sinh</a>
        </li>
        <li>
            <a href="#">Thêm Mới</a>
        </li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            <small>
                Thêm thông tin đăng ký tuyển sinh
            </small> 
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label col-md-2">Họ tên</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">Số điện thoại</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">Quê quán</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Ghi chú</label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">Bài viết</label>
                                <div class="col-md-4">
                                    @{
                                        SV.Models.Entities db = new SV.Models.Entities();
                                        var baiViet = db.BaiVietTuyenSinhs.ToList();
                                        <select name="idBaiVietTuyenSinh" class="form-control">
                                            @foreach (var item in baiViet)
                                            {
                                                <option value="@item.ID" @Html.Raw(item.ID == Model.idBaiVietTuyenSinh ? "selected" : "")>
                                                    @item.TenBaiViet
                                                </option>
                                            }
                                        </select>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Đã trả lời</label>
                                <div class="col-md-2">
                                    <div class="checkbox">
                                        <select name="DaTraLoi" class="form-control">
                                            <option value="false" @Html.Raw(Model.DaTraLoi == false ? "selected" : "")>Chưa trả lới</option>
                                            <option value="true" @Html.Raw(Model.DaTraLoi == true ? "selected" : "")>Đã trả lới</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.DaTraLoi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Lưu" class="btn btn-success btn-sm" />
                                    <a href="~/Admin/LienHeTuyenSinh/DanhSach?idBaiViet=@Model.idBaiVietTuyenSinh" class="btn btn-danger btn-sm">Hủy</a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>